*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html, body{
  margin:0;
  padding:0;
  height: 100%;
}

/* Landing page styles */
.card-title {
    position: relative;
  }
  
  .highlight {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(to top, #C97F75 30%, transparent 50%);
    line-height: 1; /* Ensure proper vertical alignment */
    z-index: 1; /* Ensure the highlighted text appears above the background */
  }

   li a:hover {
    text-decoration: underline;
    text-decoration-color: #A1382A;
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
    transition: ease-in-out 0.65s;
  }

  .active{
    text-decoration: underline;
    text-decoration-color: #C97F75;
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
  }

  .skillset{
    font-weight: 600;
    background-color: #03001C;
    color: white;
  }

  .skillset-list{
    display: flex;
    flex-wrap: wrap;
  }

  #eyecatcher {
    position: relative;
    text-decoration: none;
  }
  
  #eyecatcher::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the distance of the underline from the text */
    width: 100%;
    height: 2px; /* Adjust the height of the underline */
    background-color: #A1382A; /* Adjust the color of the underline */
    animation: underlineAnimation 5s infinite linear; /* Adjust the animation duration and timing function */
  }
  
  @keyframes underlineAnimation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  .project{
    position: relative;
    display: inline-block;
  }

  .project img{
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project:hover img{
    transform: translateY(-15px);
    box-shadow: 0 15px 10px rgba(0, 0, 0);
  }

.viewproject:hover{
  background-color: #03001C;
  color: white;
  transition: 0.8s;
}
  
  
  
  
